{% extends 'base.html.twig' %}
{% block title %}{{ product.name }}{% endblock title %}
{% block body%}
    {% if product %}
    <h1> {{ product.name }}</h1>
    <p>Quantity: <span>{{ product.quantity }}</span></p>



        <button class="btn btn-danger d-block mb-2" data-toggle="modal" data-target="#deleteModal">Löschen</button>
        <!-- Modal -->
        <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Löschen</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Wollen Sie "{{ product.name }}" wirklich Löschen?
                    </div>
                    <div class="modal-footer">

                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Abbrechen</button>
                            <button id="deleteConfirmButton" type="submit" class="btn btn-danger">Löschen</button>


                    </div>
                </div>
            </div>
        </div>
        <a href="/" class="mt-2">Zurück</a>
    {% endif %}
{% endblock body %}