<nav class="navbar navbar-expand-sm navbar-dark bg-primary mb-3">
    <div class="container">
        <a href="/" class="navbar-brand">Warenwirtschaftssystem</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mobile-nav">
            <span class="navbar-toggle-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="mobile-nav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a href="{{ path('product_list') }}" class="nav-link">Lager</a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('incomingDelivery_list') }}" class="nav-link">Wareneingang</a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('outgoingDeliveries_list') }}" class="nav-link">Warenausgang</a>
                </li>


            </ul>
        </div>
    </div>
</nav>